<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EKG Interpretation</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body class="bg-gray-200">

    <div class="relative">
        <!-- Hamburger Button -->
        <div id="hamburger" class="absolute top-0 left-0 m-4">
            <div class="hamburger-line bg-black"></div>
            <div class="hamburger-line bg-black"></div>
            <div class="hamburger-line bg-black"></div>
        </div>
    
        <!-- Slide-out Menu -->
        <div id="menu" class="absolute top-0 left-0 h-full w-0 bg-gray-100 overflow-hidden">
            <a href="#" class="block p-4 text-black hover:bg-gray-300" onclick="loadContent('about')">About</a>
            <a href="#" class="block p-4 text-black hover:bg-gray-300" onclick="loadContent('demo')">Demo</a>
            <!-- Container for the About content -->
            <div id="about-content" class="hidden">
                <!-- About information goes here -->
            </div>

        </div>
    
        <!-- Main Content Area -->
        <div id="main-content" class="ml-0 transition-all">
            <div class="text-center">
                <h1 class="text-4xl font-bold text-black mt-6">EKG Interpretation App</h1>
                <div class="text-center mt-6">
                    <label class="inline-block cursor-pointer bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        <span>Import EKG Data (.CSV)</span>
                        <input type="file" class="hidden" accept=".csv" onchange="handleFileSelect(event)">
                    </label>
                    <div id="patientInfo" class="max-w-lg mx-auto mt-6 hidden">
                        <p id="patientName" class="text-lg font-bold"></p>
                        <p id="patientAge" class="text-lg"></p>
                    </div>            
                    <div id="chartContainer" class="max-w-lg mx-auto mt-6 hidden">
                        <canvas id="ecgChart"></canvas>
                    </div>
                </div>
                <div class="mt-10">
                    <!-- Likely Heart Conditions Section -->
                    <div id="analysisSection" class="hidden">
                        <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden">
                            <div class="p-8">
                                <h2 class="block text-lg leading-tight font-medium text-black">Analysis</h2>
                                <div class="flex justify-between mt-4 text-gray-500">
                                    <span class="font-semibold" style="width: 50%;">Condition</span>
                                    <span class="font-semibold" style="width: 50%; text-align: right;">Confidence</span>
                                </div>
                                <div id="conditionsList" class="mt-2 hidden">
                                    <!-- Condition elements will be added here dynamically -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Additional Information Section -->
                    <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden mt-4 hover:shadow-lg transition duration-300 hover:bg-gray-100">
                        <div id="stabilityChange" class="p-6 text-lg hidden"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script> // Script for analyzing user's input EKG data
        function handleFileSelect(event) {
            const file = event.target.files[0];
            if (file) {
                console.log("File selected:", file.name);
                // Add further code to process the file
            }
        }
    </script>
    <script>
        function handleFileSelect(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(fileLoadedEvent) {
                    const textFromFileLoaded = fileLoadedEvent.target.result;
                    renderChart(textFromFileLoaded);
                };
                reader.readAsText(file, "UTF-8");
            }
        }
        
        let chartInstance = null;

        function renderChart(csvData) {
            // Split CSV data by lines
            const lines = csvData.split('\n');

            // Extract ECG data and patient info
            const ecgDataLine = lines[0];
            const patientInfoLine = lines[1];

            const dataPoints = ecgDataLine.split(',').map(point => parseFloat(point.trim()));
            const patientInfo = patientInfoLine.split(',');

            // Display patient info
            document.getElementById('patientName').textContent = 'Name: ' + patientInfo[0].trim();
            document.getElementById('patientAge').textContent = 'Age: ' + patientInfo[1].trim();

            // Unhide the info and chart container
            document.getElementById('patientInfo').classList.remove('hidden');
            document.getElementById('chartContainer').classList.remove('hidden');

            // Clear existing chart if present
            if (chartInstance) {
                chartInstance.destroy();
            }
            
            // Create the chart
            var ctx = document.getElementById('ecgChart').getContext('2d');
            chartInstance = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [...dataPoints.keys()], // X-axis labels
                    datasets: [{
                        label: 'EKG Reading',
                        data: dataPoints, // Y-axis data
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: false,
                            grace: '20%', // Adds padding above and below the data
                        },
                        x: {
                            grace: '5%', // Adds padding to the sides of the data
                        }
                    },
                    elements: {
                        line: {
                            tension: 0.4 // Adjust for smoother lines
                        }
                    }
                }
            });
            document.getElementById('chartContainer').classList.remove('hidden');

            fetch('/analyze_ecg', {
                method: 'POST',
                body: JSON.stringify({ data: csvData }),
                headers: { 'Content-Type': 'application/json' }
            })
            .then(response => response.json())
            .then(data => {
                populateConditions(data.conditions); // Assuming this function handles the display of conditions
                displayStabilityChange(data.stability_change, data.date); // Update to handle stability change and date
            });
        }

        function populateConditions(conditions) {
            const conditionsList = document.getElementById('conditionsList');
            conditionsList.innerHTML = ''; // Clear existing content

            // Convert object to array, sort by likelihood, and filter out 0% conditions
            const sortedConditions = Object.entries(conditions)
                .filter(([condition, likelihood]) => likelihood > 0)
                .sort((a, b) => b[1] - a[1]);

            if (sortedConditions.length > 0) {
                conditionsList.classList.remove('hidden');

                sortedConditions.forEach(([condition, likelihood]) => {
                    const conditionElement = document.createElement('div');
                    conditionElement.className = 'bg-gray-100 p-4 my-2 rounded-lg shadow hover:shadow-md transition duration-300 hover:bg-gray-200 cursor-pointer flex justify-between';

                    // Create spans for condition name and likelihood
                    const conditionNameSpan = document.createElement('span');
                    conditionNameSpan.className = 'text-md font-semibold mr-4'; // Adjust margin or padding here
                    conditionNameSpan.textContent = condition;

                    const likelihoodSpan = document.createElement('span');
                    likelihoodSpan.className = 'text-md';
                    likelihoodSpan.textContent = `${likelihood}%`;

                    // Append spans to the condition element
                    conditionElement.appendChild(conditionNameSpan);
                    conditionElement.appendChild(likelihoodSpan);

                    // Add click event for non-normal conditions
                    if (condition === "Ventricular Tachycardia") {
                        conditionElement.onclick = () => window.open("https://www.mayoclinic.org/diseases-conditions/ventricular-tachycardia/symptoms-causes/syc-20355138", '_blank');
                    } else if (condition !== 'Normal Sinus Rhythm') {
                        conditionElement.onclick = () => window.open(`https://www.cdc.gov/heartdisease/${condition.toLowerCase().replace(/\s+/g, '_')}.htm`, '_blank');
                    }

                    conditionsList.appendChild(conditionElement);
                });

            } else {
                conditionsList.classList.add('hidden');
            }
        }

        function displayStabilityChange(stabilityChange, date) {
            const stabilityChangeElement = document.getElementById('stabilityChange');
            stabilityChangeElement.innerHTML = `Stability change since <strong>${date}</strong>: `;

            const changeDescription = document.createElement('span');
            changeDescription.textContent = stabilityChange > 0 ? 'Improved' : 'Declined';
            changeDescription.style.color = stabilityChange > 0 ? 'green' : 'red';
            
            const changePercentage = document.createElement('span');
            changePercentage.textContent = ` ${Math.abs(stabilityChange).toFixed(2)}%`;
            changePercentage.className = 'font-bold';

            stabilityChangeElement.appendChild(changeDescription);
            stabilityChangeElement.appendChild(changePercentage);
            stabilityChangeElement.classList.remove('hidden');

            document.getElementById('analysisSection').classList.remove('hidden');
        }
        conditionNameSpan.className = 'text-md font-semibold custom-margin';

    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
                document.getElementById('hamburger').addEventListener('click', function () {
                    var body = document.body;
                    var menu = document.getElementById('menu');
                    var aboutContent = document.getElementById('about-content');

                    // Toggle the menu-open class to open/close the menu
                    body.classList.toggle('menu-open');

                    if (body.classList.contains('menu-open')) {
                        // Opening the menu
                        menu.style.width = '250px'; // Reset menu width to initial state
                    } else {
                        // Closing the menu
                        menu.style.width = '0'; // Collapse the menu
                        aboutContent.style.width = '0'; // Hide about content
                        aboutContent.classList.add('hidden');
                    }
                });

                // Function to load content into the main area
                window.loadContent = function (section) {
                    var body = document.body;
                    var menu = document.getElementById('menu');
                    var aboutContent = document.getElementById('about-content');

                    if (section === 'about') {
                        body.classList.add('menu-open');
                        aboutContent.classList.remove('hidden');
                        aboutContent.innerHTML = '<h2><strong> About our EKG Interpreter Web App</strong></h2><p>Our solution is a web app that ingests the data from an EKG and displays statistical analysis in an intuitive manner to lower the misdiagnosis rate by nurses. For technology we will making a basic web app and using Python for the backend. We will use CSV data to represent the data being piped in from the EKG machine. As for competing technologies there was only one similar project able to be found and its reviews were abysmal. We are not re-inventing the wheel and a working tool that works in this way would certainly be useful for nurses and hospitals to lower liability.</p>';
                        menu.style.width = '700px'; // Expanded width for About section
                        aboutContent.style.width = '650px'; // About content width
                    } else if (section === 'demo') {
                        body.classList.add('menu-open');
                        aboutContent.classList.remove('hidden');
                        aboutContent.innerHTML = '<h2><strong>Demo</strong></h2><iframe src="video_url" frameborder="0" allowfullscreen style="width:100%; height: 400px;"></iframe>'; // Update the 'src' with your actual video URL
                        menu.style.width = '700px'; // Expanded width for Demo section
                        aboutContent.style.width = '650px'; // Demo content width
                    }
                };
            });


    </script>

</body>
</html>
